/*******************
****** BODY ******
********************/

/** Font Faces**/
@font-face {
  font-family: "LexendBold";
  src: url(/fonts/Lexend-Bold.ttf);
}
@font-face {
  font-family: "LexendReg";
  src: url(/fonts/Lexend-Regular.ttf);
}
@font-face {
  font-family: "LexendLight";
  src: url(/fonts/Lexend-Light.ttf);
}

/** Body **/
b, strong{
	font-weight: 700;
}

@media (max-width: 641px){
/* 	body{
		font-size: 30px;
	} */
	#intro, #footer_nav_container{
		text-align: left !important;
	}
}

/*******************
**** NAVIGATION ****
********************/

.navigationBar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	
	width: 460px;
	height: 60px;
	position: fixed;
	right: 4%;
	top: 4%;
	z-index: 99;
	
	background-color: #3D3B3C;
	color: white;
	border-radius: 30px;
	box-shadow: 0px 3px 6px #00000029;
}

a:link, a:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.navigationBar > div {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

	width: auto;
	border-radius: 30px;
	font-size: 20px;
	font-family: "LexendLight";
	transition: 0.2s;
	cursor: pointer;
}

.navigationBar > div:hover {
	opacity: 0.7;
}

.divider {
	width: 0px;
	height: 50%;
	border-left: #C1BDB3 solid 2px;
}

.profilePicture {
  width: 38px;
  height: 38px;
  background-color: white;
  margin: 0;
  padding: 0;
	border-radius: 30px;
}

.header {
	top: 0px;
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	flex-direction: row;
	flex-wrap: nowrap;
	background-color: #323031;
	gap: 1vh;
	z-index: 6;
}
.bdirect {
	width: auto;
	height: 3vh;
	margin-top: 2vh;
	margin-left: 2vh;
	margin-bottom: 2vh;
	transition: 1s;
}
.header-label {
	color: white;
  font-family: "lexendReg";
}

/*******************
****** SPLASH ******
********************/

.typeExamples {
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
  
  width: 585px;
	height: 215px;
  padding: 20px;
  margin: 10px;
  
	background-color: white;
	color: #323031;
	border-radius: 36px;
}

/*******************
****** TABLES ******
********************/

.lines {
	width: auto;
	height: 0px;
	border-bottom: #323031 solid 2px;
}

.pageAlignVerticle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.paragraphRepublican {
	text-align:center;
  font-family: "LexendReg";
  font-size: 24px;
  margin: 6px;
  width: 100px;
}

.paragraphCentralist {
	text-align:center;
  font-family: "LexendReg";
  font-size: 24px;
  margin: 6px;
}

/*******************
****** WORDS ******
********************/
.pageAlignCenter {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

.pageAlignCenterModules {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	background-color: #323031;
  color: #D9D7D2;
}

.wrapThis {
	flex-wrap: wrap;
}


@media (max-width: 1490px) {
  .moduleBoxes {
    overflow-x: scroll;
  }
}

#standard_text {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: center;
	width: calc(500px + 14vw);
	flex-wrap: nowrap;
}

.wordBoxes0 {
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
  
/*   width: 580px; */
	width: calc(500px + 14vw);
	height: flex;
  padding: 10px;
  margin: 18px;
  
	background-color: #323031;
	color: #D9D7D2;
	border-radius: 60px;
}

.wordBoxes1 {
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
  
  /*width: 480px;*/
  width: calc((420px + 14vw)/2);
	height: flex;
  padding: 10px;
  margin: 18px;
  
	background-color: #323031;
	color: #D9D7D2;
	border-radius: 30px;
}

.wordBoxes2 {
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
  
  width: 660px;
	height: flex;
  padding: 20px;
  margin: 18px;
  
	background-color: #323031;
	color: #D9D7D2;
	border-radius: 60px;
}

.wordBoxesConcreteL {
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
  
  width: 322px;
	height: 275px;
  padding: 0.1px;
  
	background-color: rgb(129, 178, 154);
	color: #D9D7D2;
	border-radius: 45px 0px 0px 45px;
  border-collapse: separate;
  border-spacing: 0;
}

.wordBoxesAbstractL {
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
  
  width: 322px;
	height: 275px;
  padding: 0.1px;
  
	background-color: rgb(242, 204, 143);
	color: #D9D7D2;
	border-radius: 45px 0px 0px 45px;
  border-collapse: separate;
  border-spacing: 0;
}

.wordBoxesConcreteR {
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
  
  width: 323px;
	height: 275px;
  padding: 0.1px;
  
	background-color: rgb(129, 178, 154);
	color: #D9D7D2;
	border-radius: 0px 45px 45px 0px;
  border-collapse: separate;
  border-spacing: 0;
}

.wordBoxesAbstractR {
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
  
  width: 323px;
	height: 275px;
  padding: 0.1px;
  
	background-color: rgb(242, 204, 143);
	color: #D9D7D2;
	border-radius: 0px 45px 45px 0px;
  border-collapse: separate;
  border-spacing: 0;
}

.wordBoxesReasonL {
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
  
  width: 322px;
	height: 275px;
  padding: 0.1px;
  
	background-color: rgb(112, 120, 191);
	color: #D9D7D2;
	border-radius: 45px 0px 0px 45px;
  border-collapse: separate;
  border-spacing: 0;
}

.wordBoxesValueL {
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
  
  width: 322px;
	height: 275px;
  padding: 0.1px;
  
	background-color: rgb(224, 122, 95);;
	color: #D9D7D2;
	border-radius: 45px 0px 0px 45px;
  border-collapse: separate;
  border-spacing: 0;
}

.wordBoxesReasonR {
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
  
  width: 323px;
	height: 275px;
  padding: 0.1px;
  
	background-color: rgb(112, 120, 191);
	color: #D9D7D2;
	border-radius: 0px 45px 45px 0px;
  border-collapse: separate;
  border-spacing: 0;
}

.wordBoxesValueR {
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
  
  width: 323px;
	height: 275px;
  padding: 0.1px;
  
	background-color: rgb(224, 122, 95);;
	color: #D9D7D2;
	border-radius: 0px 45px 45px 0px;
  border-collapse: separate;
  border-spacing: 0;
}
  
.wordBoxes3 {
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
  
  position: absolute;
  
  width: 585px;
	height: 215px;
  padding: 20px;
  margin: 10px;
  
	background-color: white;
	color: #323031;
	border-radius: 36px;
}

.wordBoxes4 {
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
  
  width: 350px;
	height: 350px;
}

.titleTextBox {
  text-align: center;
  font-family: "LexendReg";
  font-size: 32px;
  margin: auto;
}

.titleTextBox a{
  font-family: "LexendReg";
  opacity: 1;
  transition: 0.2s;
}
.titleTextBox a:hover{
  opacity: 0.8;
}

.paragraphBox {
  text-align: center;
  font-size: 20px;
  margin: 20px;
}

.titleText {
  text-align:center;
  font-family: "LexendReg";
  font-size: 36px;
  margin: 0px;
  padding: 0px;
}

.paragraph {
	text-align:center;
  font-size: 24px;
  margin: 6px;
  padding: 6px;
}

/*******************
** FOOTER CREDITS **
********************/

#footer_credits_container{
	width: 100%;
	padding: 50px 0 75px 0;
	background: #323031;
	bottom: 0;
}
#footer_credits{
	margin: 0 auto;
	max-width: calc(100% - 50px);
	width:600px;
	color: #D9D7D2;
	font-size: 0.71em;
	text-align: center;
	line-height: 1.5em;
}
#footer_credits a{
	color:#e07a5f;
  transition: 0.2s;
}
#footer_credits a:hover{
	color:#f2cc8f;
}
.sharing{
	margin-top: 20px;
}
.sharing a{
	display: inline-block;
    height: 20px;
    width: 20px;
    margin: 5px;
    border:1px solid #fff;
    border-radius: 100px;
    padding:5px;
}
.sharing a:hover{
	background: rgba(255,255,255,0.3);
}
.sharing svg{
	width:20px;
	height:20px;
	fill:#fff;
}
