html, body {
  height: 100%;
  width: 100%;
	margin: 0;
	cursor: pointer;
	font-family: "LexendLight";
	background-color: #1e1d1d;
	overflow: hidden;
}

@font-face {
  font-family: "LexendLight";
  src: url(fonts/Lexend-Light.ttf);
}
@font-face {
  font-family: "LexendReg";
  src: url(fonts/Lexend-Regular.ttf);
}
@font-face {
  font-family: "LexendBold";
  src: url(fonts/Lexend-Bold.ttf);
}


.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.boxes {
	position: relative;
	height: calc(100% / 3);
	box-shadow: inset 0px -3px 6px #00000029, inset 0px 1px 0px #3D3B3C;
	background-color: #323031;
}

.overlay {
	position: absolute;
	background-color: black;
	opacity: 0.4;
	width: 100%;
	height: 100%;
	transition: 0.2s;
}

.overlay:hover {
	opacity: 0;
}

.image {
	width: 33.3%;
	object-fit: contain;
}

.bycogimage {
	width: 10.4%;
	object-fit: contain;
}

.elements {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	gap: 2vw;
}

.heading {
	margin: 0;
	padding: 0;
	color: white;
	font-size: calc(4.93vw);
	text-align: center;
  font-family: "LexendLight";
}

.bycognitionHeading {
	margin: 0;
	padding: 0;
	color: white;
	font-size: calc(5.5vw);
	text-align: center;
  font-family: "LexendReg";
}

@media all and (max-width: 600px) {
  .elements {
		flex-direction: column;
	}
	.image {
		width: 45%;
		object-fit: contain;
	}
	.bycogimage {
		width: 15.6%;
		object-fit: contain;
	}
	.heading {
		font-size: calc(7.395vw); /* Text size on small screens*/
	}
	.bycognitionHeading {
		font-size: calc(8.25vw); /* Text size on small screens*/
	}
}
@media all and (min-width: 601px) {
  .elements {
		flex-direction: row;
	}
}